/* BANNER */
.banner{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: $banner-color, url(image/banner.jpg);
    .content{
        text-align: center;
        padding-top: 100px;
        h1{
            color: $tercer-color;
            text-shadow: 1px 1px 1px $cuarto-color;
            letter-spacing: 3px;
        }
        p{
            color: $tercer-color;
            text-shadow: 1px 1px 1px $cuarto-color;
            letter-spacing: 3px;
        }
    }
}
#bannerbtn button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: $tercer-color;
    border: 2px solid $tercer-color;
    transition: 0.5s ease;
    cursor: pointer;
    &:hover{
        background-color: $segundo-color;
        border: none;
    }
}

/* BANNER2 */
.banner2{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: $banner-color, url(/image/banner.jpg);
    .content2{
        text-align: center;
        padding-top: 100px;
        h1{
            color: $tercer-color;
            text-shadow: 1px 1px 1px $cuarto-color;
            letter-spacing: 3px;
        }
        p{
            color: $tercer-color;
            text-shadow: 1px 1px 1px $cuarto-color;
            letter-spacing: 3px;
        }
    }
}
#bannerbtn2 button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: $tercer-color;
    border: 2px solid $tercer-color;
    transition: 0.5s ease;
    cursor: pointer;
    &:hover{
        background-color: $segundo-color;
        border: none;
    }
}
