/*VARIABLES*/
$primer-color: #a9a9a926;
$segundo-color: #1c1c50;
$tercer-color: white;
$cuarto-color: black;
$quinto-color: rgba(100,100,111,0.2) 0px 7px 29px 0px;
$banner-color: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
$checked-color: rgb(255, 187, 0);